.ConsentManager {
  width: 50vw;
  height: fit-content;
  background: white;
  overflow: auto;
  margin: 10% 25% 0 25%;
  position: absolute;
  z-index: 1000000;
  padding: 0 2%;
  font-family: Cambria, sans-serif;
}

button {
  border: none;
  background: white;
  cursor: pointer;
  font-family: Cambria, sans-serif;
}

footer, header {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.footer-btn {
  border-radius: 5px;
  padding: 10px 15px;
  margin: 15px 0 20px;
  font-size: 12pt;
  background-color: rgb(195, 195, 195);
}

.footer-btn:hover {
  background-color: rgb(220, 220, 220);
}

.hide {
  display: none;
}

.checkbox {
  align-items: flex-start
}

.purpose {
  padding-left: 10px;
}

.purpose-name {
  margin: 0;
}

.deny-all {
  margin-left: 15px;
}